<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8" />
    <title>Blood Bank - About</title>
    </head>

<body>

    <section>
        <!-- Navigator Start -->
        <section id="navigator">
            <div class="container">
                <div class="path">
                    <div class="path-main" style="color: darkred; display:inline-block;">Home</div>
                    <div class="path-directio" style="color: grey; display:inline-block;"> / About Us</div>
                </div>
            </div>
        </section>
        <!-- Navigator End -->

        <!-- Who Start -->
        <section id="who">
            <div class="container">
                <img src="imgs/logo.png" alt="">
                <p>Welcome to our Blood Bank Management System, where saving lives is our priority. We are dedicated to
                    ensuring a reliable and efficient blood donation and distribution process to meet the critical needs
                    of patients and healthcare providers.</p>
                    <br>

                <div class="section">
                    <h2 class="section-title" style="padding-left: 15px;"> Our Mission</h2>
                    <p>Our mission is to bridge the gap between blood donors and recipients, ensuring timely access to
                        life-saving blood products.</p>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <div class="section">
                            <h2 class="section-title" style="padding-left: 15px;">Core Values</h2>
                            <ul>
                                <li>Compassion</li>
                                <li>Integrity</li>
                                <li>Excellence</li>
                                <li>Collaboration</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="section">
                            <h2 class="section-title">Our Services</h2>
                            <ul>
                                <li>Blood Donation</li>
                                <li>Blood Testing</li>
                                <li>Blood Storage</li>
                                <li>Blood Distribution</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="section">
                            <h2 class="section-title" style="margin-bottom: 10px;">Get Involved</h2>
                            <p style="margin-top: 0;">You can make a difference by:</p>
                            <ul>
                                <li>Donating Blood</li>
                                <li>Volunteering</li>
                                <li>Partnering</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Who End -->
    </section>
</body>

</html>