<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <title>Article</title>
</head>

<body>

    <section>
         <!-- Navigator Start -->
         <section id="navigator">
            <div class="container">
                <div class="path">
                    <div class="path-main" style="color: darkred; display:inline-block;"><a th:href="@{/}">Home</a></div>
                    <div class="path-directio" style="color: grey; display:inline-block;">/Article</div>
                </div>
            </div>
        </section>
        <!-- Navigator End -->
        <!-- article Start -->
        <section id="article">
            <div class="container">
                <img class="head-img" src="imgs/p4.jpg" alt="">
                <div class="details-container">
                    <div class="title">Donations Benefits</div>
                    <p>Donating blood is not only an act of kindness but also offers numerous benefits to both the donor
                        and the community. Some of the key benefits include:</p>
                    <ul>
                        <li>Helping save lives by providing vital blood transfusions to those in need.</li>
                        <li>Reducing the risk of heart disease by lowering iron levels in the blood.</li>
                        <li>Stimulating the production of new blood cells, leading to a healthier blood flow.</li>
                        <li>Improving overall emotional well-being by contributing to a sense of purpose and
                            fulfillment.</li>
                        <li>Receiving a free health check-up as part of the donation process, including checking blood
                            pressure, hemoglobin levels, and more.</li>
                        <li>Contributing to community health and emergency preparedness, especially during times of
                            crises or disasters.</li>
                        <li>Becoming part of a lifesaving network that supports patients undergoing surgeries, cancer
                            treatments, and other medical procedures.</li>
                    </ul>
                    <strong><a>Share this article:</a></strong>
                    <div class="icons">
                        <i class="fab fa-facebook-square fa-3x"></i>
                        <i class="fab fa-google-plus-square fa-3x"></i>
                        <i class="fab fa-twitter-square fa-3x"></i>
                    </div>

                </div>
                <!-- Articles Start -->
                <section id="articles">
                    <div class="container">
                        <h2 style="display: inline-block;">Articles</h2>
                        <div class="swiper-container">
                            <div class="button-area" style="display: inline-block; margin-left: 850px;">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                </button>
                            </div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-img-top" style="position: relative;">
                                            <img src="imgs/p3.jpg" alt="Card image">
                                            <button class="like"><i class="fas fa-heart icon-large"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Blood Types</h4>
                                            <p class="card-text">Knowing about different blood types is crucial for
                                                effective blood donation and transfusion processes. Each blood type
                                                has unique characteristics and compatibility, ensuring safe and
                                                successful transfusions for patients in need.</p>

                                            <div class="btn-cont">
                                                <a href="https://en.wikipedia.org/wiki/Blood_type" target="_blank"
                                                    class="card-btn">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-img-top" style="position: relative;">
                                            <img src="imgs/p4.jpg" alt="Card image">
                                            <button class="like"><i class="fas fa-heart icon-large"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Donations Benefits</h4>
                                            <p class="card-text">
                                                Blood donation offers health benefits, including disease risk reduction
                                                and free health check-ups. Donors also contribute to medical research,
                                                advancing healthcare. Each donation is a meaningful act saving lives.
                                            </p>
                                            <div class="btn-cont">
                                                <a href="https://healthmatters.nyp.org/the-surprising-benefits-of-donating-blood/"
                                                    target="_blank" class="card-btn">Details</a>
                                                <!-- <button class="card-btn"
                                                    onclick="window.location.href = 'article.html';">Details</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card ">
                                        <div class="card-img-top" style="position: relative;">
                                            <img src="imgs/p1.jpg" alt="Card image">
                                            <button class="like"><i class="fas fa-heart icon-large"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Disease Protection</h4>
                                            <p class="card-text">Blood donation offers health perks like reducing
                                                disease risks, providing free health check-ups, and contributing to
                                                medical research. Every donation saves lives.</p>
                                            <div class="btn-cont">
                                                <a href="https://www.medicalnewstoday.com/articles/319366"
                                                    target="_blank" class="card-btn">Details</a>
                                                <!-- <button class="card-btn"
                                                    onclick="window.location.href = 'article.html';">Details</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-img-top" style="position: relative;">
                                            <img src="imgs/p5.jpg" alt="Card image">
                                            <button class="like"><i class="fas fa-heart icon-large"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">How To Donate?</h4>
                                            <p class="card-text">Learn how to donate blood, step by step. Discover the
                                                benefits of saving lives and contributing to medical advancements. Take
                                                action today to make a difference.</p>
                                            <div class="btn-cont">
                                                <!-- <button class="card-btn"
                                                    onclick="window.location.href = 'article.html';">Details</button> -->
                                                    <a href="https://www.redcrossblood.org/donate-blood/how-to-donate/common-concerns/first-time-donors.html"
                                                    target="_blank" class="card-btn">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Articles End -->

            </div>
        </section>
        <!-- Article End -->
    </section>

</body>

</html>